;
; Copyright © 2023 Peter Monks
;
; Licensed under the Apache License, Version 2.0 (the "License");
; you may not use this file except in compliance with the License.
; You may obtain a copy of the License at
;
;     http://www.apache.org/licenses/LICENSE-2.0
;
; Unless required by applicable law or agreed to in writing, software
; distributed under the License is distributed on an "AS IS" BASIS,
; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
; See the License for the specific language governing permissions and
; limitations under the License.
;
; SPDX-License-Identifier: Apache-2.0
;

{:deps
   {org.spdx/java-spdx-library   {:mvn/version "1.1.11" :exclusions [org.apache.logging.log4j/log4j-slf4j18-impl]}
    org.slf4j/slf4j-api          {:mvn/version "2.0.13"}   ; This is required by org.spdx/java-spdx-library, yet somehow isn't coming through transitively (and it's not due to the exclusion above)
    instaparse/instaparse        {:mvn/version "1.4.14"}}
 :aliases
   {:build {:deps       {com.github.pmonks/pbr {:mvn/version "RELEASE"}}
            :ns-default pbr.build}}}
